.links {
    min-height: 61px;
    padding: 46px 0;
    background: $blue;
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
            color: #ffffff;
            transition: 0.3s all;
            &:hover {
                box-shadow: 2px 2px 15px #ffffff;
            }
        }
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 61px;
        height: 61px;
        margin: 0 15px;
        border: 2px solid #ffffff;
        border-radius: 100%;
        i {
            transform: scale(1.7);
        }
    }
}